name: Step02 - Download Fidelity Risk Ratings and Commit

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 6"

env:
  OUTPUT_DIRECTORY: output
  HL_FUNDS: hl.csv
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: write

jobs:
  download_and_commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'    
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libjpeg-dev
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install poetry
        poetry config virtualenvs.create false
        poetry install --no-interaction --no-ansi --no-root
    - name: Download Fidelity Risk Ratings
      run: python step02_fidelity_risk_ratings.py $OUTPUT_DIRECTORY/$HL_FUNDS
    - name: Commit Step02
      run: |  
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git status
        git add -f $OUTPUT_DIRECTORY/$HL_FUNDS
        git commit -m "Automated download and commit - step02 - Download Fidelity Risk Ratings"
        git push -f
