name: Step04 - Download Yahoo Quotes

on:
  workflow_dispatch:
    inputs:
      PURGE_QUOTES:
        description: 'Purge existing quotes?'
        required: false
        default: 'false'

  schedule:
    - cron: "0 5 * * 6"

env:
  HL_FUNDS: output/hl.csv
  OUTPUT_DIRECTORY: output/quotes_yahoo
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: write

jobs:
  download_and_commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Create output directory
      run: |
        mkdir -p $OUTPUT_DIRECTORY
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libjpeg-dev zlib1g-dev
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install poetry
        poetry config virtualenvs.create false
        poetry install --no-interaction --no-ansi --no-root
    - name: Download Yahoo Quotes
      env:
        PURGE_QUOTES: ${{ github.event.inputs.PURGE_QUOTES }}
      run: |
        if [ "$PURGE_QUOTES" = "true" ]; then
          rm -rf $OUTPUT_DIRECTORY/*
        fi
        python step04_quotes_yahoo.py $HL_FUNDS $OUTPUT_DIRECTORY
    - name: Commit Step04
      run: |  
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git status
        git add -f $HL_FUNDS $OUTPUT_DIRECTORY
        git commit -m "Automated download and commit - step04 - Yahoo Quotes"
        git push -f
