name: Step03 - Download FT Quotes

on:
  workflow_dispatch:
    inputs:
      PURGE_QUOTES:
        description: 'Purge existing quotes?'
        required: false
        default: 'false'

  schedule:
    - cron: "0 8 * * 6"

env:
  HL_FUNDS: output/hl.csv
  OUTPUT_DIRECTORY: output/quotes_ft
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: write

jobs:
  download_and_commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Create output directory
      run: |
        mkdir -p $OUTPUT_DIRECTORY
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libjpeg-dev
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install poetry
        poetry config virtualenvs.create false
        poetry install --no-interaction --no-ansi --no-root
    - name: Download FT Quotes
      env:
        PURGE_QUOTES: ${{ github.event.inputs.PURGE_QUOTES }}
      run: |
        if [ "$PURGE_QUOTES" = "true" ]; then
          rm -rf $OUTPUT_DIRECTORY/*
        fi
        #python step03_quotes_ft.py $HL_FUNDS $OUTPUT_DIRECTORY
        python step03_quotes_ft.py $HL_FUNDS
    - name: Commit Step03
      run: |  
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git status
        git add -f $HL_FUNDS $OUTPUT_DIRECTORY
        git commit -m "Automated download and commit - step03 - FT Quotes"
        git push -f
