name: Step01 - Download HL Funds and Commit

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 5"

env:
  OUTPUT_DIRECTORY: output
  HL_FUNDS: hl.csv
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: write

jobs:
  download_and_commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Create output directory
      run: |
        mkdir -p $OUTPUT_DIRECTORY
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libjpeg-dev
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install poetry
        poetry config virtualenvs.create false
        poetry install --no-interaction --no-ansi --no-root
    - name: Download HL Funds
      run: python step01_download_hl.py $OUTPUT_DIRECTORY/$HL_FUNDS
    - name: Commit Step01
      run: |  
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git status
        git add -f $OUTPUT_DIRECTORY/$HL_FUNDS
        git commit -m "Automated download and commit - step01 - Download HL Funds"
        git push -f
#    - name: Trigger Step02
#      uses: actions/github-script@v6
#      with:
#        github-token: ${{secrets.GITHUB_TOKEN}}
#        script: |
#          await github.rest.actions.createWorkflowDispatch({
#            owner: context.repo.owner,
#            repo: context.repo.repo,
#            workflow_id: 'step02.yaml',
#            ref: context.repo.ref
#          })
